<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @reply.text %>
</p>

<p>
  <strong>User:</strong>
  <%= @reply.user_id %>
</p>

<p>
  <strong>Blog:</strong>
  <%= @reply.blog_id %>
</p>

<%= link_to 'Edit', edit_reply_path(@reply) %> |
<%= link_to 'Back', replies_path %>
