<h2>Sign up</h2>

<div class="m-5" style="margin: 2em">
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.input :email,label:"Email",placeholder:"Введите сюда свой email", autofocus: true, autocomplete: "email" %>
  </div>
<br>
  <div class="field">

    <%= f.input :password,label:"Пароль",placeholder:'Минимальное количество знаков - 6', autocomplete: "new-password" %>
  </div>
<br>
  <div class="field">
    <%= f.input :password_confirmation,label:"Подтверждение пароля",placeholder:"Тот же пароль", autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>